{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- about.html content starts here -->
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="content-border">
            <h2 class="card-title">{{ about.title }}</h2>
            <p class="text-muted">Last updated on {{ about.updated_on|date:"F d, Y" }}</p>
            <p class="card-content">{{ about.content }}</p>
        </div>
    </div>

    {% if about.images.all %}
    <div>
        {% for image in about.images.all %}
            <img src="{{ image.image.url }}" alt="About Image" class="img-fluid">
        {% endfor %}
    </div>
{% endif %}


<!-- index.html content ends here -->
{% endblock %}